html, body
{
	color: #ccc;
	background-color: #555;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

h2
{
	color: #fff;
	font-family: serif;
	font-size: 14pt;
}

#closeButton
{
	position: fixed;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	color: #555;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	border-radius: 12px;
	color: #ccc;
}

#closeButton:hover, #autoRefresh:hover
{
	background-color: #333;
}

#closeButton:active, #autoRefresh:active
{
	color: #888;
	background-color: #333;
}


#autoRefresh
{
	position: fixed;
	bottom: 20px;
	right: 10px;
	font-size: 8pt;
	border-radius: 12px;
	cursor: pointer;
}

#autoRefresh.active
{
	-webkit-box-shadow: 1px 0px 20px 4px rgba(255, 50, 50, 0.75);
	-moz-box-shadow:    1px 0px 20px 4px rgba(255, 50, 50, 0.75);
	box-shadow:         1px 0px 20px 4px rgba(255, 50, 50, 0.75);
}

#cli
{
	position: fixed;
	overflow: hidden;
	bottom: 0;
	left: 32px;
	width: -webkit-calc(100% - 32px);
	width:    -moz-calc(100% - 32px);
	width:         calc(100% - 32px);
	height: 30px;
	font-size: 12pt;
	font-family: monospace;
	line-height: 30px;
	color: #ccc;
	background-color: #555;
	padding: 10px;
	border: 2px solid #ccc;
	border-left: 0px;
	padding-left: 0px;
}
#cli:focus
{
	outline: none;
}

#cliBracket
{
	position: fixed;
	overflow: hidden;
	bottom: 0px;
	left: 0px;
	width: 20px;
	height: 30px;
	height: 30px;
	font-size: 12pt;
	font-family: monospace;
	line-height: 30px;
	color: #ccc;
	background-color: #555;
	padding: 10px;
	border: 2px solid #ccc;
	border-right: 0px;
	padding-right: 0px;
}


#display
{
	position: fixed;
	overflow-y: scroll;
	word-wrap: break-word;
	width: -webkit-calc(100% - 20px);
	width:    -moz-calc(100% - 20px);
	width:         calc(100% - 20px);
	height: -webkit-calc(100% - 98px);
	height:    -moz-calc(100% - 98px);
	height:         calc(100% - 98px);
	top: 24px;
	left: 0px;
	background-color: #000;
	padding: 10px;
}

#display::-webkit-scrollbar-track
{
	background-color: #000;
}

#display::-webkit-scrollbar
{
	width: 12px;
}

#display::-webkit-scrollbar-thumb
{
	background-color: #333;
	border: 2px solid #aaa;
	border-radius: 10px;
}